:root {
    font-size: 50%;
}

#page-landing {
    background: var(--color-primary);
}

#page-landing #container {
    color: var(--color-text-in-primary);
}

.logo-container {
    text-align: center;
    margin-bottom: 3rem;
}

.logo-container img {
    height: 10rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 4rem;
    margin-top: 1rem;
}

.hero-image {
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 10rem;

    border-radius: 1rem;

    font: 700 2rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    color: var(--color-button-text);
    
    box-shadow: 2px 2px 10px black;
}

.buttons-container a.study {
    background: var(--color-primary-lighter);
    margin-right: 1.3rem;
    transition: background 300ms;
}

.buttons-container a.study:hover {
    background: var(--color-primary-light);
}

.buttons-container a.give-classes {
    background: var(--color-secondary);
    margin-right: 0;
    transition: background 300ms;
}

.buttons-container a.give-classes:hover {
    background: var(--color-secondary-dark);
}

.buttons-container a img {
    width: 4rem;
    margin-right: 2rem;
}

.total-connections {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-connections img {
    margin-left: 1rem;
}

@media (min-width: 1100px) {
    #page-landing #container {
        max-width: 1100px;
        display: grid;

        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 350px 1fr;

        grid-template-areas: 
        "proffy image image"
        "button button connections";

        column-gap: 90px;
        row-gap: 85px;
    }

    .logo-container {
        grid-area: proffy;
        text-align: initial;
        align-self: center;
    }

    .logo-container img {
        height: 100%;
    }

    .hero-image {
        grid-area: image;
    }

    .buttons-container {
        grid-area: button;
        justify-content: flex-start;
        margin: 0;
    }

    .total-connections {
        grid-area: connections;
        justify-self: end;
    }
}

@media (min-width: 700px) {
    :root {
        /* 1rem = 10px */
        font-size: 62.5%;
    }
}